<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="static/css/style.css" rel="stylesheet">
        <title>Vāroņa informācijas lapa</title>
    </head>
    <body>
        <header>
            <h1>Kāds ir jusu varonis?</h1>
            <p>Šeit Jūs varat uzzināt, par cik jūsu varonis ir stiprs, ātrs, prātīgs u.t.t.. Jums būs vajadzīgi pierakstīt atbildes uz jautājumiem, lai to uzzināt.</p>
        </header>
        <div>
            <h3>Varoņu izveidošanas palīgs</h3>
            <p></p>
            <input >
        </div>
        <footer>

        </footer>
    </body>
</html>